<app-new-problem></app-new-problem>
<div class="container">
  <div class="list-group">
    <a class="list-group-item"
       *ngFor="let problem of problems | search :searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: pageId } "
       [routerLink]="['/problems', problem.id]">
      <span class="{{'pull-left span-left label difficulty diff-' + problem.difficulty.toLocaleLowerCase()}}">{{problem.difficulty.toLocaleUpperCase()}}</span>
      <strong class="title">{{problem.id}}. {{problem.name}}</strong>
    </a>

  </div>

  <pagination-controls (pageChange)="pageId = $event" [autoHide]="true"></pagination-controls>
</div>
